/*----------------
      RESET
------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111111;
}

/*----------------
      COMMON
------------------*/
.container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

/*----------------
      BUTTON
------------------*/
.btn {
  background-color: #0a0b0b;
  border: none;
  padding: 0px 5px;
  border-radius: 3px;
}

.btn-transparent {
  background-color: transparent;
  border: none;
  padding: 0px 5px;
}

.btn-green {
  color: #67d669;
}

.btn-white {
  color: white;
}

.btn-red {
  background-color: #a8352e;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 15px;
}
/*----------------
      HEADER
------------------*/

header {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
  padding-bottom: 20px;
  color: white;
}

.header-left,
.record-button {
  display: flex;
}

.header-left {
  column-gap: 10px;
}

.record-button {
  background-color: #0a0b0b;
  border-radius: 3px;
}

/*----------------
      MAIN
------------------*/

.box-web-cam {
  width: calc((100% / 6) - 5px);
  height: 120px;
  border-radius: 6px;
  display: flex;
  align-items: flex-end;
}

.mic-red {
  color: #cc3c33;
  padding-right: 3px;
}

.name {
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 3px 5px;
  margin: 5px 5px;
  border-radius: 3px;
}

.back-img-fruit {
  background-image: url(../img/fruit.jpg);
}

.back-img-city {
  background-image: url(../img/city.jpg);
  background-size: contain;
}
/*----------------
      FOOTER
------------------*/

footer {
  font-size: 15px;
  display: flex;
  height: 80px;
  justify-content: space-between;
  background-color: #1b1b1b;
  align-items: center;
  margin-top: 30px;
  padding: 0px 15px;
  color: #a8a8a8;
}

footer button {
  font-size: 25px;
  color: #a8a8a8;
}

.arrow {
  font-size: 12px;
  margin-left: 15px;
}

.footer-left,
.footer-midle,
.footer-right {
  gap: 20px;
  display: flex;
  width: (100% / 3);
  justify-content: center;
}

.box-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
